apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "designate-certmanager-webhook.fullname" . }}
  labels:
    app: {{ include "designate-certmanager-webhook.name" . }}
    chart: {{ include "designate-certmanager-webhook.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "designate-certmanager-webhook.name" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ include "designate-certmanager-webhook.name" . }}
        release: {{ .Release.Name }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "designate-certmanager-webhook.fullname" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --tls-cert-file=/tls/tls.crt
            - --tls-private-key-file=/tls/tls.key
            - --secure-port=8443
          envFrom:
            - secretRef:
                name: {{ .Values.credentialsSecret }}
          ports:
            - name: https
              containerPort: 8443
              protocol: TCP
          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: https
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: https
          volumeMounts:
            - name: certs
              mountPath: /tls
              readOnly: true
            {{ range $k, $v := .Values.volumeMounts }}
            - name: {{ $v.name | quote }}
              mountPath: {{ $v.mountPath | quote }}
              readOnly: {{ $v.readOnly | quote }}
            {{- end }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
      volumes:
        - name: apiservice-config
          configMap:
            name: {{ include "designate-certmanager-webhook.fullname" . }}-apiservice
        - name: certs
          secret:
            optional: true
            secretName: {{ include "designate-certmanager-webhook.servingCertificate" . }}
        {{ range $k, $v := .Values.volumes }}
        - name: {{ $v.name | quote }}
          {{ if $v.secretRef }}
          secret:
            secretName: {{ $v.secretRef | quote }}
          {{- end }}
          {{ if $v.configMapRef }}
          configMap:
            name: {{ $v.configMapRef | quote }}
          {{- end }}
        {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
